.background{
    background-image: url("../img/bg.png");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}
.btn-outline-light.active,
.btn-outline-light:hover {
    border-radius: 45px;
    padding: 5px 15px;
    background-color: rgb(225, 225, 225, .5);
    border: 1px solid #fff;
    color: #fff;
}
.btn-outline-light{
    padding: 5px 15px;
    border: none;
}

.text {
    text-align: center;
    justify-content: center;
    
}
.row {
    height: 150px;
}
html {
    height: 100%;
    width: 100%;
}


p{
    color: rgb(172, 168, 168);
}
.right {
    text-align: end;
    margin-right: 10px;
}